@font-face {
    font-family: 'Imrans School Bold OT';
    src: url('Imrans School Bold OT.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: black;
    overflow: hidden;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.container, .bottom-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: auto;
}

.div1, .div4, .div5, .div6 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vw;
    width: 19vw;
    font-size: 1vw;
    font-weight: bold;
    opacity: 0;
    animation: fadeInScale 1s ease-out forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.div1, .div4 {
    width: 19vw;
    height: 24.4vw;
}

.div1 {
    background-color: #F42D55;
    border-top-left-radius: 10px;
    animation-delay: 0.2s;
}

.div4 {
    background-color: #B9B4FF;
    border-top-right-radius: 10px;
    animation-delay: 0.4s;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.33vw;
    height: 24.4vw;
    width: 40.7vw;
}

.div2 {
    background-color: #FAE1D7;
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;
    opacity: 0;
    animation: fadeInScale 1.5s ease-out forwards;
    animation-delay: 0.6s;
}

.div3 {
    font-family: 'Imrans School Bold OT', sans-serif;
    background-color: black;
    width: 100%;
    height: 14.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 100px;
    opacity: 0;
    animation: fadeInScale 1.5s ease-out forwards;
    animation-delay: 0.8s;
}

.bottom-container {
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.div5 {
    width: 50vw;
    height: 10vw;
    background-color: #A7FAAA;
    border-bottom-left-radius: 10px;
    opacity: 0;
    animation: fadeInScale 1s ease-out forwards;
    animation-delay: 1s;
}

.div6 {
    width: 30vw;
    height: 10vw;
    background-color: #FAE1D7;
    border-bottom-right-radius: 10px;
    font-size: 45px;
    opacity: 0;
    animation: fadeInScale 1s ease-out forwards;
    animation-delay: 1.2s;
}

@media (max-width: 934px) {
    .div3 {
        font-size: 50px;
    }
}

@media (max-width: 735px) {
    .div6 {
        font-size: 30px;
    }
}
